In [3]:
import sys
!{sys.executable} -m pip install pytrends

Collecting pytrends
  Downloading pytrends-4.3.0-py2.py3-none-any.whl
Requirement already satisfied: requests in /Users/joseph/anaconda3/lib/python3.6/site-packages (from pytrends)
Requirement already satisfied: lxml in /Users/joseph/anaconda3/lib/python3.6/site-packages (from pytrends)
Requirement already satisfied: pandas in /Users/joseph/anaconda3/lib/python3.6/site-packages (from pytrends)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/joseph/anaconda3/lib/python3.6/site-packages (from requests->pytrends)
Requirement already satisfied: idna<2.7,>=2.5 in /Users/joseph/anaconda3/lib/python3.6/site-packages (from requests->pytrends)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /Users/joseph/anaconda3/lib/python3.6/site-packages (from requests->pytrends)
Requirement already satisfied: certifi>=2017.4.17 in /Users/joseph/anaconda3/lib/python3.6/site-packages (from requests->pytrends)
Requirement already satisfied: python-dateutil>=2 in /Users/joseph/anaconda3/lib/python3.6/site-packages (from pandas->pytrends)
Requirement already satisfied: pytz>=2011k in /Users/joseph/anaconda3/lib/python3.6/site-packages (from pandas->pytrends)
Requirement already satisfied: numpy>=1.7.0 in /Users/joseph/anaconda3/lib/python3.6/site-packages (from pandas->pytrends)
Requirement already satisfied: six>=1.5 in /Users/joseph/anaconda3/lib/python3.6/site-packages (from python-dateutil>=2->pandas->pytrends)
Installing collected packages: pytrends
Successfully installed pytrends-4.3.0
You are using pip version 9.0.1, however version 9.0.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [4]:
import pandas

In [6]:
from pytrends.request import TrendReq
pytrends = TrendReq(hl='en-US', tz=360)

In [12]:
kw_list = ["Grand Canyon", "Gene Wilder"]
pytrends.build_payload(kw_list, timeframe='all')
pytrends.interest_over_time()

            Grand Canyon  Gene Wilder isPartial
date
2004-01-01            52            1     False
2004-02-01            51            3     False
2004-03-01            52            2     False
2004-04-01            53            1     False
2004-05-01            54            1     False
2004-06-01            47            1     False
2004-07-01            51            2     False
2004-08-01            50            1     False
2004-09-01            46            2     False
2004-10-01            43            1     False
2004-11-01            41            2     False
2004-12-01            37            2     False
2005-01-01            48            2     False
2005-02-01            51            2     False
2005-03-01            52            2     False
2005-04-01            50            2     False
2005-05-01            50            2     False
2005-06-01            46            3     False
2005-07-01            48            7     False
2005-08-01            44            4     False
2005-09-01            39            3     False
2005-10-01            38            2     False
2005-11-01            41            2     False
2005-12-01            33            5     False
2006-01-01            44            3     False
2006-02-01            42            2     False
2006-03-01            44            1     False
2006-04-01            42            1     False
2006-05-01            44            2     False
2006-06-01            40            2     False
...                  ...          ...       ...
2015-10-01            25            2     False
2015-11-01            22            3     False
2015-12-01            23            2     False
2016-01-01            27            2     False
2016-02-01            27            2     False
2016-03-01            31            2     False
2016-04-01            30            2     False
2016-05-01            30            1     False
2016-06-01            29            2     False
2016-07-01            32            2     False
2016-08-01            29          100     False
2016-09-01            28           19     False
2016-10-01            25            4     False
2016-11-01            24            3     False
2016-12-01            24            4     False
2017-01-01            28            2     False
2017-02-01            28            2     False
2017-03-01            35            2     False
2017-04-01            32            2     False
2017-05-01            30            1     False
2017-06-01            30            2     False
2017-07-01            31            2     False
2017-08-01            31            2     False
2017-09-01            26            1     False
2017-10-01            25            2     False
2017-11-01            23            2     False
2017-12-01            23            2     False
2018-01-01            28            2     False
2018-02-01            34            2     False
2018-03-01            32            2      True

[171 rows x 3 columns]